<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

	<variable name="telegramBotToken" value="YOUR_TELEGRAM_BOT_TOKEN" />
	<variable name="telegramChatId" value="YOUR_BOT_CHAT_ID" />
	<variable name="basedir" value="${basedir}" />

	<!-- the targets to write to -->
	<targets>
		<!-- console target -->
		<target name="console" xsi:type="Console"
		        layout="${longdate} ${logger} ${level} ${message}${exception:format=ToString}" />
		<!-- file target -->
		<target name="file" xsi:type="File" layout="${longdate} ${logger} ${level} ${message}${exception:format=ToString}"
		        fileName="${var:basedir}/logs/logfile.txt"
		        autoFlush="true"
		        encoding="utf-8"
		        maxArchiveFiles="4"
		        archiveAboveSize="10000000"
		        archiveFileName="${basedir}/logs/archives/log.{#####}.txt" />
		<!-- telegram target -->
		<target type='WebService'
		        name='telegram'
		        url='https://api.telegram.org/bot${telegramBotToken}/sendMessage'
		        protocol='JsonPost'
		        encoding='UTF-8'>
			<parameter name="">
				<layout xsi:type="JsonLayout" includeAllProperties="true">
					<attribute name="chat_id" layout="${telegramChatId}" />
					<attribute name="text"
					           layout="${longdate} ${logger} ${level} ${message}${exception:format=ToString}" />
				</layout>
			</parameter>
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" maxLevel="Fatal" writeTo="console" />
		<logger name="*" minlevel="Trace" maxLevel="Fatal" writeTo="file" />
		<logger name="*" minlevel="Info" maxLevel="Fatal" writeTo="telegram" />
	</rules>
</nlog>